@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(200px);
  } 
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
.slide-animations{ 
    -webkit-animation-name:'fadeInRight';/*动画属性名，也就是我们前面keyframes定义的动画名*/
    -webkit-animation-duration: 2s;/*动画持续时间*/
    -webkit-animation-timing-function: ease-in-out; /*动画频率，和transition-timing-function是一样的*/
    -webkit-animation-delay:1s;/*动画延迟时间*/
    -webkit-animation-iteration-count: 1;/*定义循环资料，infinite为无限次*/
    -webkit-animation-direction: alternate;/*定义动画方式*/ 
} 